#ingore the matlab project file
*.prj
#infore the directory that arises from a matlab compilation
asl_deblur_core/
archive/
mccExcludedFiles.log
readme.txt
# ignore FSL dependency file
*.mk
# ignore any created packages
asl_deblur_package_*
*.tar
